<b>Data:</b> Admission_Predict.csv: List of students who have applied for admission to our university along with various relevant details such as their GPA, entrance exam scores, etc.

<b>Problem Statment:</b> Our goal it to determine if the student will be admitted to university based on certain admission criteria. For instance, if universities only admit students that meet atleast one of the below conditions, is the student likely to be admitted to the university?
* the student's GRE score is in the 95th percentile or above
* cummulative GPA > 9.5
* cummulative GPA > 8.5 & GRE scores atleast in the 85th percentile and atleast some research experience

<b>Focus:</b> numpy advanced functionality, e.g., numpy based conditional updates (np.where, np.select), identifying percentiles, etc.

In [5]:
def integrate_summary_stats(Admission_Predict):
    import pandas as pd
    import numpy as np
    

    df = pd.read_csv(Admission_Predict) #, usecols = ["GRE Score", "CGPA", "Research"])

    gre_95 = np.percentile(df["GRE Score"], 95)
    gre_85 = np.percentile(df["GRE Score"], 90)

    condition_list = [df["GRE Score"] > gre_95, df["CGPA"] > 9.5, np.logical_and(df["GRE Score"] > gre_85, 
                                                                                 df["CGPA"] > 8.5,
                                                                                 df["Research"]>=1)]
    choice_list = ["Y","Y","Y"]
    
    df["Admit"] = np.select(condition_list, choice_list, "N")
    return df

In [6]:
path = "<provide file path here>"
file_name = "Admission_Predict.csv"
df = integrate_summary_stats(path + file_name)
df

,Serial No.,GRE Score,TOEFL Score,SOP,LOR,CGPA,Research,Chance of Admit,Admit
0,1,337,118,4.5,4.5,9.65,1,0.92,Y
1,2,324,107,4.0,4.5,8.87,1,0.76,N
2,3,316,104,3.0,3.5,8.00,1,0.72,N
3,4,322,110,3.5,2.5,8.67,1,0.80,N
4,5,314,103,2.0,3.0,8.21,0,0.65,N
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3.5,3.5,9.04,1,0.82,N
396,397,325,107,3.0,3.5,9.11,1,0.84,N
397,398,330,116,5.0,4.5,9.45,1,0.91,N
398,399,312,103,3.5,4.0,8.78,0,0.67,N
399,400,333,117,5.0,4.0,9.66,1,0.95,Y